@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
* {
  padding: 0;
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 80vw;
}

body {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  padding-top: 20px;
  background-image: url("images/pixel.jpg");
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.scroll-icon {
  width: 25px;
  padding-top: 1vh;
  margin: 0 auto;
  cursor: pointer;
}

nav {
  width: 100%;
  position: fixed;
  font-size: .8em;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 1vw;
  word-spacing: 1vw;
  font-family: 'Raleway', sans-serif;
}

nav a {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: white !important;
}

header {
  display: block;
  height: 728px;
}

/* navigation hover animation */
.grow:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: transform .5s ease;
}

.typewriter {
  color: white;
  max-width: 525px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 6s steps(100, end), blink-caret .90s step-end infinite;
}

/* The typing effect */

@keyframes typing {
  /*@keyframes rule specifies animation code*/
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}

#gradient-background {
  background: -webkit-linear-gradient(bottom, rgba(34, 193, 195, 1) 0%, rgba(127, 172, 113, 1) 100%);
  background: -o-linear-gradient(bottom, rgba(34, 193, 195, 1) 0%, rgba(127, 172, 113, 1) 100%);
  background: linear-gradient(to top, rgba(34, 193, 195, 1) 0%, rgba(127, 172, 113, 1) 100%);
}

#avatar {
  border-radius: 75%;
  border: solid #ACDE64;
  margin: 10vw 0 8vw 0;
}

#intro-text {
  margin-top: 20vw;
}

h2 {
  font-size: 2em;
}

.main-text {
  max-width: 60vw;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5em;
}

/* list styling */

li {
  list-style-type: none;
  padding-left: 8px;
}

/* other links on page */

a {
  text-decoration: none;
  color: rgb(240, 182, 245);
  font-size: 1.3em;
}

a:hover {
  background-color: rgb(240, 182, 245);
  color: white;
  border-radius: 4px;
}

/* social media */

#twitter, #linkedin, #github, #mail {
  padding: 0 8px 0 8px;
}

#twitter img {
  padding: 1em;
}

#linkedin img {
  padding: 1em;
}

#github img {
  padding: 1em;
}

#mail img {
  padding: 1em;
}

@media only screen and (max-width: 560px) {
  nav {
    font-size: .5em;
    padding: .2rem;
  }
  .typewriter {
    max-width: 325px;
    font-size: .6em;
  }
  #twitter, #linkedin, #github, #mail {
    padding: 0 4px 0 4px;
  }
  #twitter img {
    padding: .4em;
    margin-bottom: 20px;
  }
  #linkedin img {
    padding: .4em;
    margin-bottom: 20px;
  }
  #github img {
    padding: .4em;
    margin-bottom: 20px;
  }
  #mail img {
    padding: .4em;
    margin-bottom: 20px;
  }
}

.project-img {
  width: 100%;
  padding: 10px 10px;
  border: solid 2px white;
  margin-top: 5%;
}
