@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  padding: 0;
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 80vw;
}

body {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  padding: 20px;
  background-image: url("images/pixel.jpg");
  background-repeat: no-repeat;
}

header {
  /* background-image: url("images/pixel.jpg"); */
  display: block;
  /* width: 300%;
  margin-left: -189%; */
  height: 154vh;
  margin-top: -20%;
}

nav {
  width: 100%;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 1vw;
  word-spacing: 1vw;
}

nav a {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

nav a :hover {
  background-color: rgb(240, 182, 245);
}

#avatar {
  border-radius: 75%;
  border: solid rgb(240, 182, 245);
  margin: 10vw;
}

#intro-text {
  color: white;
  font-size: 1em;
}

/* list styling */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* social media */
#twitter, #linkedin, #github, #mail {
  padding: 20px;
}
